/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/*This is some further normalization and base styles. */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Responsive images base, put your images in a wrapper
img {
    display: block;
    width: 100%;
    height: auto;
}

/*Here's where you would put your Google Fonts import*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Source+Sans+Pro:200,300,400,400i,600,700,900|Source+Serif+Pro:400,600,700');


/* BOX MODEL SETTING FOR ALL ELEMENTS BY DEFAULT
THIS IS BETTER THAN DEFAULT, YOU SHOULD ALWAYS USE THIS:
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* END BOX MODEL SETTINGS */

body {
  font-size: 16px; /* Base Size */
  /*Setting the base font family*/
  font-family: "Amatic SC", Verdana, sans-serif;
  margin: 0;
  padding: 0;

}
h1{
  font-size: 52px;
  text-align: center;
  border-style: solid;
  border-width: medium;
  width: 500px;
  margin: auto;
  color: #D7EDE2;
  margin-top: 100px;
  margin-bottom: 100px;

}

h2{
  font-size: 40px;
  text-align: center;
  color: #4E7BBE;
  margin: -1px;
  padding-bottom:30px;
  animation: bounceIn 2s;
}
.slide-fwd-center {
	-webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

p{
  font-family: "Avenir", sans-serif;
  font-size: 15px;
  max-width: 700px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.heading {
  background-image: url();

}

.top {
  margin-bottom: -1px;
  margin-top: -1px;
}

.intro {
  padding-top:100px;
  padding-bottom: 100px;
  background-color: #F2F3F4;
}

.taylorpark {
  padding-bottom: 100px;
  background-color: #D6E5F1;
}
.tent {
  max-width: 75%;
  max-height: 75%;
  display: block;
  margin: auto;
  padding-top: 60px;
}
.wildlife {
  padding-bottom:200px;
  background-color: #E7ECF1;

}

.mountainrange {
  max-width: 75%;
  max-height: 75%;
  display: block;
  margin: auto;
  padding-top: 60px;
}
.tincup {
  padding-bottom: 100px;
  padding-top:100px;
  padding-bottom: 100px;
  background-color: #F2F3F4;
}

.trail {
  max-width: 75%;
  max-height: 75%;
  display: block;
  margin: auto;
  padding-top: 60px;
}

.mirror {
  padding-bottom: 100px;
  background-color: #D6E5F1;
}

.lake {
  max-width: 75%;
  max-height: 75%;
  display: block;
  margin: auto;
  padding-top: 60px;

}

.elevation {
  padding-bottom: 100px;
  padding-top:100px;
  padding-bottom: 100px;
  background-color: #F2F3F4;

}

.flower{
  max-width: 75%;
  max-height: 75%;
  display: block;
  margin: auto;
  padding-top: 60px;
}
.peak {
  padding-bottom: 100px;
  background-color: #D6E5F1;
}

.flagmountain {
  max-width: 75%;
  max-height: 75%;
  display: block;
  margin: auto;
  padding-top: 60px;

}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}

/*Here's a sample media query for you. This one is for desktop styles.*/
/*@media only screen and (min-width: 960px) {

}*/
@media only screen and (max-width: 480px) {
  h2{
    font-size: 26px;
  }
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Use this clearfix class on the parent of floated elements to clear the float! */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
